:root {
  --font-family: "Source Serif 4", serif;
  --second-family: "Oswald", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
.container {
  max-width: 670px;
  margin: 100px auto 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 40px 0;
  border-bottom: 1px solid #eaeaee;
}
header p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222;
  text-transform: capitalize;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
header nav a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #222 !important;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
  text-decoration-color: #7247ca;
}
.donate {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #7247ca !important;
}

header .search {
  background-color: transparent;
  border: none;
  margin-top: -5px;
  cursor: pointer;
}

.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audio h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  line-height: 123%;
  text-align: center;
  color: #222;
  margin: 40px 0 16px 0;
}
.audio h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #979797;
  margin-bottom: 45px;
}
.audio .listen {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.audio .listen p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #222;
  margin-top: 40px;
}
.audio .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.audio-player {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button img {
  width: 24px;
  height: 24px;
}

#current-time,
#total-duration {
  font-size: 14px;
  color: #333;
  min-width: 45px;
  text-align: center;
}

#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #ddd;
  outline: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  width: 500px;
}

#progress-bar::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  opacity: 0;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.text {
  margin: 96px 0 48px;
}

.text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: #555;
}
.text h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 119%;
  color: #222;
  margin-top: 35px;
  margin-bottom: 20px;
}
.listening {
  border: 1px solid #eaeaee;
  width: 670px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 28px;
  padding-left: 25px;
}
.listening p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  color: #222;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -4px;
}
.tags {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  flex-direction: column;
}
.tags .tag {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.tags .tag a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: #555;
  text-decoration: none;
}
.tags .share {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 20px 0;
  justify-content: center;
}
.tags .share p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 156%;
  color: #222;
  margin: 0 !important;
}
.border-line {
  border: 1px solid #eaeaee;
  width: 670px;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 48px 0;
}
.time h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  line-height: 123%;
  color: #222;
}
.time h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 119%;
  color: #222;
}
.time a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 179%;
  color: #7247ca !important;
  text-decoration: none;
}
.time .date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #979797;
  margin-top: 16px;
  margin-bottom: 40px;
}

.time .card-img {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 25px;
}
.time .border-line {
  margin-top: 20px;
}

.inputs h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.inputs p {
  color: #555;
  margin-bottom: 20px;
}
.inputs label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputs textarea,
input[type="text"],
input[type="email"],
input[type="url"] {
  border-radius: 4px;
  width: 670px;
  height: 42px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border: none;
  background: #f5f5f7;
}

.inputs textarea {
  border-radius: 4px;
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
  background: #f5f5f7;
}

.inputs .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputs .checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}

.inputs button {
  width: 90px;
  width: 34px;
  background-color: #7247ca; /* Purple color */
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputs button:hover {
  background-color: #4a148c; /* Darker purple on hover */
}
.inputs .save-info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #555;
}
