*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  max-width: 670px;
  margin: 0 auto;
  font-family: 'Source Serif Pro', serif;
}
.img-1{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 110px;
}
.main-text{
  text-align: center;
  margin-top: 40px;
}
.listen-on{
  display: flex;
  justify-content: center;

}
.lstn-icons{
  display: flex;
  justify-content: space-between;
  width: 136px;

}
.business{
 
  text-align: center;
}
.bsns-p{
  width: 39px;
  height: 23px;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  color: blueviolet;
  margin-bottom: 10px;
}
.new-conteiner{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 70px;
}
.lorem{
  display: flex;
  justify-content: center;
  max-width: 670px;
  margin-top: 12px;
  margin-bottom: 16px;
  
}
.play-button{
  display: flex;
  justify-content: center;
  
  
}
.new .content{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}